# Copy this file to secrets.pkrvars.hcl and fill in your values
# secrets.pkrvars.hcl is in .gitignore and will not be committed

proxmox_api_url          = "https://YOUR_PROXMOX_IP:8006/api2/json"
proxmox_api_token_id     = "root@pam!packer"
proxmox_api_token_secret = "YOUR_TOKEN_SECRET"
