[proxmox]
pve

[dns_servers]
%{ for name, ip in dns_servers ~}
${name} ansible_host=${ip}
%{ endfor ~}

[loadbalancer]
%{ for name, ip in k8s_lb ~}
${name} ansible_host=${ip}
%{ endfor ~}

[k8s_control_plane]
%{ for name, ip in k8s_control_plane ~}
${name} ansible_host=${ip}
%{ endfor ~}

[k8s_workers]
%{ for name, ip in k8s_workers ~}
${name} ansible_host=${ip}
%{ endfor ~}

[local]
localhost ansible_connection=local ansible_python_interpreter=/usr/bin/python3

# Group all VMs together
[vms:children]
dns_servers
loadbalancer
k8s_control_plane
k8s_workers

# Set ansible_user for all VMs
[vms:vars]
ansible_user=${ssh_user}